<div class="header">
    <div class="header__navigation navigation">
        <div class="navigation__navigate-text navigate-text">
            <span class="navigate-text__item">ABOUT</span>
            <span class="navigate-text__item">HOW IT WORKS</span>
            <span class="navigate-text__item">CONTACT</span> 
        </div>
        <span class="navigation__navigate-title">BESNIC</span>
        <img src="../../../assets/Vector.svg" alt="shop-bag" class="navigation__shopping-bag">
    </div>
    <div class="header__header-card header-card">
        <div class="header__header-card header-content">
            <span class="header-content__title">Banking more smart</span>
            <span class="header-content__middle-text">Meet the only spend management platform and corporate card.</span>
            <div class= "header-content__bottom-group bottom-group">
                <div class="bottom-group__arrow-container arrow-container">
                    <img src="../../../assets/arrow.svg" alt="click" class="arrow-container__arrow">
                </div>
                <span class="bottom-group__text">Get your card</span>
            </div>
        </div> 
        <div class="header-card__card-container card-container">
            <div class="card-container__visa visa">
                <div class="visa__head head">
                    <img src="../../../assets/gold.svg" alt="gold-sign" class="head__gold-sign">
                    <div class="head__number number">
                       <div class="number__silver">
                        <img src="../../../assets/3.svg" alt="number" class="number__item">
                        <img src="../../../assets/5.svg" alt="number" class="number__item">
                        <img src="../../../assets/2.svg" alt="number" class="number__item">
                        <img src="../../../assets/4.svg" alt="number" class="number__item">
                       </div>
                       <div class="number__gold">
                        <img src="../../../assets/5-gold.svg" alt="number" class="number__item">
                        <img src="../../../assets/7.svg" alt="number" class="number__item">
                        <img src="../../../assets/3-gold.svg" alt="number" class="number__item">
                        <img src="../../../assets/10.svg" alt="number" class="number__item">
                       </div>
                    </div>
                </div>
                <div class="visa__bottom bottom">
                    <img src="../../../assets/visa.svg" alt="visa" class="bottom_visa">
                    <div class="bottom__text">
                        <span>JHON SMITH</span>
                        <img src="../../../assets/visa-sign.svg" alt="visa-sign" class="text__visa-sign">
                    </div>
                </div>
            </div>
        </div>
        <div class="header-card__icons icons">
          <div class="icons__icons-list icons-list">
           <div class="icons-list__icon icon">
             <img class="icon__image" src="../../../assets/Vector.svg" alt="icon-image">
            </div>
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 3.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 2.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 2.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 3.svg" alt="icon-image">
            </div> 
          </div>  
        </div>
    </div>
    <div class="header__header-group header-group">
        <div class="header-group__group-item group-item">
            <img class="group-item__image" src="../../../assets/image 528.svg" alt="image">
            <span class="group-item__title">Hot
                deals for you</span>
            <span class="group-item__text">Online shopping for retail sales direct to consumers</span>
        </div>
        <div class="header-group__group-item group-item">
            <img class="group-item__image" src="../../../assets/image 528.svg" alt="image">
            <span class="group-item__title">1.5% cashback</span>
            <span class="group-item__text">Online shopping for retail sales direct to consumers</span>
        </div>
        <div class="header-group__group-item group-item">
            <img class="group-item__image" src="../../../assets/image 528.svg" alt="image">
            <span class="group-item__title">30-day terms</span>
            <span class="group-item__text">Online shopping for retail sales direct to consumers</span>
        </div>
        <div class="header-group__group-item group-item">
            <img class="group-item__image" src="../../../assets/image 528.svg" alt="image">
            <span class="group-item__title">Save Money</span>
            <span class="group-item__text">Online shopping for retail sales direct to consumers</span>
        </div>
    </div>
</div>
<div class="next-header">
    <div class="next-header__text-item text-item ">
        <span class="text-item__title">We Building Social uniqueness</span>
        <span class="text-item__text">The marketing strategy lays out target markets and the value.</span>
    </div>
    <div class="next_header__text-item text-item ">
        <span class="text-item__title">Social Media
            beyond probability</span>
        <span class="text-item__text">Essentially a formula for how a business is going to compete,</span>
    </div>
</div>
<div class="customer">
    <div class="customer__customer-text customer-text">
        <span class="customer-text__title">1000+ Customer</span>
        <span class="customer-text__description">
            Analyze any Business or Creator account—including 
            your competitors—to find 
            the imagery,
             visuals, and captions that drive audience engagement. 
            Get social calendars planned faster and spend less time 
            testing content strategies.
        </span>
    </div>
    <div class="customer__customer-list customer-list">
        <div class="customer-list__item item">
            <span class="item_title">PRODUCT</span>
            <span class="item_number">10,0000+ </span>
        </div>
        <div class="customer-list__item item">
            <span class="item_title">LIKES</span>
            <span class="item_number">45600</span>
        </div>
        <div class="customer-list__item item">
            <span class="item_title">SALE</span>
            <span class="item_number">576864</span>
        </div>
        <div class="customer-list__item item">
            <span class="item_title">CUSTOMERS</span>
            <span class="item_number">947444</span>
        </div>
    </div>
</div>
<div class="feature">
    <div class="feature__draw draw">
        <div class="daw__upper upper">
            <div class="upper__title">Custom . F</div>
            <div class="upper__text">Veyron speed</div>
        </div>
        <div class="daw__lower lower">
            <div class="lower__part part">
                <img class="part__image" src="../../../assets/Mask Copy 12.svg" alt="image"> 
                <span class="part__text">Design</span>
            </div>
            <div class="lower__part part">
                <img class="part__image" src="../../../assets/Mask Copy 13.svg" alt="image">
                <span class="part__text">Emlen Beaver</span>
            </div>
            <div class="lower__part part">
                <img class="part__image" src="../../../assets/Mask Copy 14.svg" alt="image">
                <span class="part__text">Jaquon Hart</span>
            </div>
        </div>
    </div>
    <div class="feature__inform inform">
        <div class="inform_top top">
            <span class="top__title">Handoff your work smarter now</span>
            <span class="top__text">
                Create documentation for the collaborators 
                (i.e. designers or devs) directly in your design file.
            </span>
        </div>
        <div class="inform_down down">
            <div class="down__element element">
                <span class="element__title">Strategic</span>
                <span class="element__text">
                    Suggests that the component spacing
                    between cards and elements.
                </span>
            </div>
            <div class="down__element element">
                <span class="element__title">Work  schedule</span>
                <span class="element__text">
                    work schedule is the time an employee is expected to be on the job
                </span>
            </div>
        </div>
    </div>
</div>
<div class="newsletter">
    <div class="newsletter__news news">
        <span class="news__title">
            Subscribe
            to get updated
            news
        </span>
        <span class="news__text">See how it works</span>
    </div>
    <div class="newsletter__main main">
        <span class="main__title">Subscribe our newsletter</span>
        <button class="main__button button">
            <span class="button__text">Subscribe</span>
        </button>
    </div>
    <div class="newsletter__newscard newscard">
        <div class="newscard__left-side left-side">
            <div class="left-side numbers">
                <div class="numbers__silver">
                 <img src="../../../assets/3.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/5.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/2.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/4.svg" alt="number" class="numbers__item">
                </div>
                <div class="numbers__gold">
                 <img src="../../../assets/5-gold.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/7.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/3-gold.svg" alt="number" class="numbers__item">
                 <img src="../../../assets/10.svg" alt="number" class="numbers__item">
                </div>
            </div>
             <img src="../../../assets/gold.svg" alt="gold-sign" class="left-side__gold-sign">
        </div>
        <div class="newscard__right-side right-side">
            <img src="../../../assets/VisaBig.svg" alt="visa" class="right-side_visa">
            <img src="../../../assets/visa-sign.svg" alt="visa-sign" class="right-side__visa-sign">
        </div>
    </div>
</div>
<div class="footer">
    <div class="footer__footer-head footer-head">
        <div class="footer-head__menu menu">
            <span class="menu__item">ABOUT</span>
            <span class="menu__item">HOW IT WORKS</span>
            <span class="menu__item">CONTACT</span> 
        </div>
        <span class="footer-head__head-title">BESNIC</span>
        <div class="footer-head__information information">
            <div class="information__auth auth">
                <span class="auth__item">Signup</span>
                <span class="auth__item">Login</span>
            </div>
            <div class="information__refs refs">
              <img class="refs__image" src="../../../assets/face.svg" alt="facebook">
              <img class="refs__image" src="../../../assets/inst.svg" alt="instagram">
              <img class="refs__image" src="../../../assets/youTube.svg" alt="youtube">
            </div>
        </div>
    </div>
    <div class="footer__low-bottom low-bottom">
        <span class="low-bottom__item">Copyright © 2020.Besnik creative</span>
        <span class="low-bottom__item">Designed by Besnik</span>
    </div>
</div>
