<div class="header">
    <div class="header__navigation navigation">
        <div class="navigation__navigate-text navigate-text">
            <span class="navigate-text__item">ABOUT</span>
            <span class="navigate-text__item">HOW IT WORKS</span>
            <span class="navigate-text__item">CONTACT</span> 
        </div>
        <span class="navigation__navigate-title">BESNIC</span>
        <img src="../../../assets/Vector.svg" alt="shop-bag" class="navigation__shopping-bag">
    </div>
    <div class="header__header-card header-card">
        <div class="header__header-card header-content">
            <span class="header-content__title">Banking more smart</span>
            <span class="header-content__middle-text">Meet the only spend management platform and corporate card.</span>
            <div class= "header-content__bottom-group bottom-group">
                <div class="bottom-group__arrow-container arrow-container">
                    <img src="../../../assets/arrow.svg" alt="click" class="arrow-container__arrow">
                </div>
                <span class="bottom-group__text">Get your card</span>
            </div>
        </div> 
        <div class="header-card__card-container card-container">
            <div class="card-container__visa visa">
                <div class="visa__head head">
                    <img src="../../../assets/gold.svg" alt="gold-sign" class="head__gold-sign">
                    <div class="head__number number">
                       <div class="number__silver">
                        <img src="../../../assets/3.svg" alt="number" class="number__item">
                        <img src="../../../assets/5.svg" alt="number" class="number__item">
                        <img src="../../../assets/2.svg" alt="number" class="number__item">
                        <img src="../../../assets/4.svg" alt="number" class="number__item">
                       </div>
                       <div class="number__gold">
                        <img src="../../../assets/5-gold.svg" alt="number" class="number__item">
                        <img src="../../../assets/7.svg" alt="number" class="number__item">
                        <img src="../../../assets/3-gold.svg" alt="number" class="number__item">
                        <img src="../../../assets/10.svg" alt="number" class="number__item">
                       </div>
                    </div>
                </div>
                <div class="visa__bottom bottom">
                    <img src="../../../assets/visa.svg" alt="visa" class="bottom_visa">
                    <div class="bottom__text">
                        <span>JHON SMITH</span>
                        <img src="../../../assets/visa-sign.svg" alt="visa-sign" class="text__visa-sign">
                    </div>
                </div>
            </div>
        </div>
        <div class="header-card__icons icons">
          <div class="icons__icons-list icons-list">
           <div class="icons-list__icon icon">
             <img class="icon__image" src="../../../assets/Vector.svg" alt="icon-image">
            </div>
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 3.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 2.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 2.svg" alt="icon-image">
            </div> 
            <div class="icons-list__icon icon">
              <img class="icon__image" src="../../../assets/Vector 3.svg" alt="icon-image">
            </div> 
          </div>  
        </div>
    </div>
    <div class="header__header-group header-group">
        <div class="header-group__group-item group-item">
            <span class="group-item__title"></span>
            <span class="group-item__text"></span>
        </div>
        <div class="header-group__group-item group-item">
            <span class="group-item__title"></span>
            <span class="group-item__text"></span>
        </div>
        <div class="header-group__group-item group-item">
            <span class="group-item__title"></span>
            <span class="group-item__text"></span>
        </div>
        <div class="header-group__group-item group-item">
            <span class="group-item__title"></span>
            <span class="group-item__text"></span>
        </div>
    </div>
</div>
