$roboto-font:'Roboto', sans-serif;
$jamjuree-font: 'Bai Jamjuree', sans-serif;

$font-size-small: 14px;
$font-size-large: 80px;
$font-size-middle: 18px;
$font-size-smaller: 12px;
$font-size-big: 30px;
$font-size-bigger: 60px;

$line-height-big: 80px;
$line-height-small: 20px;
$line-height-middle: 30px;
$line-height-base: 40px;

$border-small: 16px;

$letter-spacing-normal: 0.01em;
$letter-spacing-minor: -0.01em;

$base-weight: 500;
$big-weight: 700;
$middle-weight: 400;

$small-width: 25px;
$small-height: 25px;

$card-rotate:rotate(26.39deg);

$yellow: #FFD968;
$white: #F9FDFF;
$blue: #80D1FF;
$black: #222223;
$light-grey: #E5E5E5;
$dark-grey: #818486;
$light-blue: #99d3f5;
$light: #FFFFFF;
$orange: #E15C19;

%flex-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

%base-text-list{
  font-family: $roboto-font;
  font-size: $font-size-small;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-normal;
  font-weight: $base-weight;
  text-align: center;
}

%large-text-list{
  font-size: $font-size-large;
  line-height: $line-height-big;
  font-weight: $big-weight;
}

%middle-text-list{
  font-size: $font-size-middle;
  line-height: $line-height-middle;
  font-weight: $middle-weight;
}

%smaller-text-list{
  font-size: $font-size-smaller;
  font-weight: $base-weight;
  line-height: $line-height-small;
}

%small-text-list{
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-weight: $middle-weight;
}

%big-text-list{
  font-size: $font-size-big;
  line-height: $line-height-middle;
  font-weight: $base-weight;
}

%bigger-text-list{
  font-size: $font-size-bigger;
  line-height: $line-height-big;
  font-weight: $base-weight;
}

%base-text-title{
  font-family: $jamjuree-font;
  font-size: $font-size-middle;
  line-height: $line-height-middle;
  letter-spacing: $letter-spacing-normal;
  font-weight: $base-weight;
  text-align: center;
}